/* Main styles*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
    color: #c1b8af;
    text-align: center;
    padding: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin-top: 140px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p {
    color: grey;
}

/* Nav styles */
#navbar {
    display: flex;
    justify-content: space-between;
    font-family: "Karla";
    font-size: 15px;
}

.left-nav {
    margin: 20px;
    padding-left: 25px;
}

.right-nav ul {
    display: flex;
    list-style: none;
}

.right-nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 25px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.right-nav a {
    color: gray;
    text-decoration: none;
    transition: color 0.5s;
}

.right-nav a:hover {
    color: black;
}

.right-nav ul li :hover {
    border-bottom: 1px solid black;
    transition: border-bottom 0.01s;
}

/* Welcome section sytles */
.welcome-section {
    background-image: url(./Images/bernard-hermant-X-Bu9X6gok0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(70%);
}

.welcome-inner-section p {
    font-size: 30px;
}

.welcome-inner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    color: white;
}

/* About section styles */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 280px;
    margin-left: 280px;
}

/* Portfolio styles */
#projects {
    height: 100vh;
}

.project-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-tile {
    position: relative;
    padding: 20px;
}

.project-img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 100px;
}

.logo-wrapper img {
    width: 50px;
    margin: 20px;
}

.img-text-wrapper {
    color: transparent;
    font-weight: 600;
    transition: 1s;
}

.img-text-wrapper:hover {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}

/* Ko-fi styles */
.ko-fi-wrapper {
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 150px;
}

.center {
    text-align: center;
}

.btn {
    border-radius: 50px;
    border: none;
    background-color: #29abe0;

}

/* Footer styles */
.right-footer {
    display: flex;
    padding-right: 150px;
}

.left-footer {
    padding-top: 10px;
    padding-left: 150px;
}

.footer-mail ul {
    display: flex;
}

.footer-mail ul li {
    margin: 10px;
}

.footer-instagram ul {
    display: flex;
}

.footer-instagram ul li {
    margin: 10px;
}

.footer-github ul {
    display: flex;
}

.footer-github ul li {
    margin: 10px;
}

/* Other styles */
@media (min-width: 800px) {
    body {
        flex-wrap: wrap;
    }
}
